<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sunmoon.smcard.auth.AuthInfoMapper">
	<resultMap id="authInfoResultMap" type="org.sunmoon.smcard.co.AuthInfo">
        <result column="AUTH_KEY" property="authKey" />
        <result column="AUTH_STATUS" property="authStatus" />
    </resultMap>
    
    <select id="select" parameterType="org.sunmoon.smcard.co.AuthInfo" 
    		resultMap="authInfoResultMap">
    	SELECT
    		AUTH_KEY,
    		AUTH_STATUS
    	FROM 
    		AUTH_INFO
    	WHERE
    		AUTH_KEY = #{authKey}
    </select>
</mapper>